<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const menuStore = useMenuStore();
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await menuStore.saveMenu();
  }
}

function clear() {
  menuStore.dialogEdit = false;
  menuStore.clear();
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="menuStore.dialogEdit" persistent max-width="700">
      <v-card>
        <v-card-title>
          <span class="text-h5">Menu</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    label="Name*"
                    v-model="menuStore.editedMenu.name"
                    :rules="[(v) => !!v || 'Name must not be empty.']"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Price*"
                    type="number"
                    v-model="menuStore.editedMenu.price"
                    :rules="[(v) => !!v || 'Price must not be empty.']"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Image*"
                    v-model="menuStore.editedMenu.img"
                    :rules="[(v) => !!v || 'Image URL must not be empty.']"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
