<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import type Table from "@/types/Table";
import { onMounted } from "vue";
import TableDialog from "./TableEditDialog.vue";

const tableStore = useTableStore();

onMounted(async () => {
  await tableStore.getTables();
});

function editTable(table: Table) {
  tableStore.editTable(table);
  tableStore.dialogEdit = true;
}
</script>
<template>
  <v-container>
    <v-card
      style="border-radius: 10px; margin-top: 10px; margin-bottom: 10px"
      variant="text"
    >
      <h2
        style="color: black; padding-top: 20px; padding-bottom: 20px"
        class="text-center bg-deep-purple-lighten-4"
      >
        การจัดการโต๊ะ
      </h2>
    </v-card>
    <v-row>
      <v-col cols="12">
        <v-table
          class="overflow-y-auto"
          style="border-radius: 10px; max-height: 560px"
        >
          <thead class="bg-deep-purple-lighten-4">
            <tr>
              <th style="text-align: center">Table Number</th>
              <th style="text-align: center">Seat</th>
              <th style="text-align: center">Status</th>
              <th style="text-align: center">Option</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of tableStore.tableList" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">{{ item.seats }}</td>
              <td style="text-align: center">{{ item.status }}</td>
              <td style="text-align: center">
                <v-btn
                  class="ma-1 justify-center"
                  color="yellow-darken-3"
                  icon="mdi-pencil"
                  @Click="editTable(item)"
                ></v-btn>
              </td>
            </tr>
          </tbody> </v-table
      ></v-col>
    </v-row>
  </v-container>
  <TableDialog />
</template>

<style scoped></style>
