<script setup lang="ts">
// import TheWelcome from "../components/TheWelcome.vue";
import type MenuView from "./restaurant/MenuView.vue";
</script>

<template>
  <main>
    <MenuView />
  </main>
</template>
