<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useAuthStore } from "@/stores/auth";

const authStore = useAuthStore();

const username = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(username.value, password.value);
  }
};

const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-app>
    <v-main class="pa-15 bg-deep-purple-lighten-3">
      <v-card
        width="400px"
        class="mx-auto bg-deep-purple-lighten-4"
        variant="text"
      >
        <v-card-title primary-title class="pa-5 text-center font-weight-bold">
          Login
        </v-card-title>
        <v-card-text style="padding-bottom: 0%; margin-bottom: 0%">
          <v-form ref="form" v-model="valid">
            <v-text-field
              label="Login Name"
              v-model="username"
              :rules="[
                (v) => !!v || 'Login Name is required',
                (v) =>
                  v.length >= 4 ||
                  'Name must be more than or equal 4 characters',
              ]"
              required
            ></v-text-field>
            <v-text-field
              label="Password"
              type="password"
              v-model="password"
              :rules="[
                (v) => !!v || 'Password is required',
                (v) =>
                  v.length >= 8 ||
                  'Password must be more than or equal 8 characters',
              ]"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            style="margin-left: 40%; margin-bottom: 20px"
            width="100px"
            color="success"
            variant="flat"
            @click="login"
            >Login</v-btn
          >
          <v-btn
            style="margin-bottom: 20px"
            color="red"
            width="100px"
            variant="flat"
            @click="reset"
            >Clear</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>
</template>
