<script setup lang="ts">
// import { mdiTableChair, mdiBellRing, mdiBackspace } from "@mdi/js";
import { useMessageStore } from "@/stores/message";
import { useOrderStore } from "@/stores/order";
import type order from "@/types/Order";
import { watch } from "vue";
import { ref } from "vue";
import { useRoute } from "vue-router";
import type Receipt from "@/types/Receipt";
import receipt from "@/service/receipt";
import { useRecieptStore } from "@/stores/receipt";
import { useTableStore } from "@/stores/table";
import router from "@/router";

const route = useRoute();
const orderStore = useOrderStore();
const totalPrice = ref(0);
const orderID = route.params.id + "";
const messageStore = useMessageStore();
const payDisabled = ref(true);
const receiptStore = useRecieptStore();
const discount = ref(0);
const netPrice = ref(0);
const pay = ref(0);
const change = ref(0);
const employId = localStorage.getItem("id");
const tableStore = useTableStore();
const newReceipt = ref<Receipt>({
  total_price: 0,
  cash: 0,
  discount: 0,
  change: 0,
});

const total = (price: number): number => {
  totalPrice.value += price;
  return price;
};
const setZero = () => {
  totalPrice.value = 0;
};

watch(
  () => totalPrice.value,
  (newTotal) => {
    totalPrice.value = newTotal;
    netPrice.value = totalPrice.value - discount.value;
  }
);

watch(
  () => discount.value,
  (newDiscount) => {
    discount.value = newDiscount;
    netPrice.value = totalPrice.value - discount.value;
  }
);

const confirmOrder = () => {
  if (pay.value !== null) {
    if (pay.value >= netPrice.value) {
      payDisabled.value = false;
      netPrice.value = totalPrice.value - discount.value;
      change.value = pay.value - netPrice.value;
    } else {
      messageStore.showMessage(
        "Pay can't less than Net Price, Please Input the correct number."
      );
    }
  } else {
    messageStore.showMessage("Please Fill the number to Pay.");
  }
  // watch([() => pay.value, () => netPrice.value], ([newPay, newNetPrice]) => {
  //   change.value = newPay - newNetPrice;
  // });
};

const addReciept = () => {
  newReceipt.value!.total_price = totalPrice.value;
  newReceipt.value!.cash = parseInt(pay.value + "");
  newReceipt.value!.discount = discount.value;
  newReceipt.value!.change = change.value;
  newReceipt.value!.orderId = orderID;
  console.log(employId);
  newReceipt.value!.employeeId = parseInt(employId + "");
  console.log(newReceipt);
  receiptStore.createReceipt(newReceipt.value!);
  tableStore.updateTable("C");
  router.replace("/table");
};

//const orderTableId = async() => {
//  return await orderID
//}

const orderSelect = ref<order>();
const getOrderSelect = async () => {
  return await orderStore.getOrderById(orderID);
};

const clearPayDiscount = () => {
  pay.value = 0;
  discount.value = 0;
  change.value = 0;
  netPrice.value = totalPrice.value;
  payDisabled.value = true;
};

getOrderSelect().then((orderIndex) => {
  orderSelect.value = orderIndex[0];
  console.log(orderSelect);
});

//const changeStatusTable = () => {};
</script>

<template>
  <div
    class="bg-image bg-deep-purple-lighten-3"
    style="
      /* background-image: url('https://cdn.wallpapersafari.com/18/59/I5PMO3.jpg'); */
      /* width: 1980px; */
      height: 890px;
      height: 100vh;
      width: auto;
    "
  >
    <v-card class="bg-deep-purple-lighten-3" variant="flat">
      <v-card class="ma-3" style="border-radius: 10px">
        <h2
          style="color: black; padding-top: 30px; padding-bottom: 30px"
          class="text-center bg-deep-purple-lighten-4"
        >
          Cashier
        </h2>
      </v-card>
      <v-row no-gutters>
        <v-col lg="6" xs="6">
          <v-sheet
            class="pa-2 ma-2 bg-deep-purple-lighten-4"
            style="border-radius: 10px"
          >
            <v-table class="overflow-y-auto" style="max-height: 565px">
              <thead class="bg-deep-purple-lighten-4">
                <tr>
                  <th class="text-center" style="font-size: larger">ลำดับ</th>
                  <th class="text-center" style="font-size: larger">รายการ</th>
                  <th class="text-center" style="font-size: larger">จำนวน</th>
                  <th class="text-center" style="font-size: larger">ราคา</th>
                  <th class="text-center" style="font-size: larger"></th>
                </tr>
              </thead>
              <tbody>
                {{
                  setZero()
                }}
                <tr
                  v-for="(item, index) in orderSelect?.orderItems"
                  :key="index"
                >
                  <td style="text-align: center">{{ index + 1 }}</td>
                  <td style="text-align: center">{{ item.name }}</td>
                  <td style="text-align: center">{{ item.qty }}</td>
                  <td style="text-align: center">
                    {{ total(item.product!.price * item.qty) }}
                    บาท
                  </td>
                  <td style="text-align: center"></td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </v-table>
          </v-sheet>
        </v-col>
        <v-col lg="6" xs="6">
          <v-sheet
            class="pa-2 ma-2 bg-deep-purple-lighten-4"
            style="border-radius: 10px"
          >
            <v-table>
              <tbody class="text-center">
                <tr>
                  <td class="bg-deep-purple-lighten-4">Total:</td>
                  <td>{{ totalPrice }}</td>
                  <td>บาท</td>
                </tr>
                <tr>
                  <td id="discount" class="bg-deep-purple-lighten-4">
                    Discount:
                  </td>
                  <td>
                    <input
                      class="text-center"
                      style="width: 47.5% , right: 100px;"
                      type="text"
                      v-model="discount"
                      placeholder="0"
                    />
                  </td>
                  <td>บาท</td>
                </tr>
                <tr>
                  <td class="bg-deep-purple-lighten-4">Net Price:</td>
                  <td>{{ netPrice }}</td>
                  <td>บาท</td>
                </tr>
                <tr>
                  <td class="bg-deep-purple-lighten-4">Pay:</td>
                  <td>
                    <input
                      class="text-center"
                      style="width: 47.5% , right: 100px;"
                      type="text"
                      v-model="pay"
                      placeholder="0"
                    />
                  </td>
                  <td>บาท</td>
                </tr>
                <tr>
                  <td id="change" class="bg-deep-purple-lighten-4">Change:</td>
                  <td>{{ change }}</td>
                  <td>บาท</td>
                </tr>
                <tr>
                  <td class="bg-deep-purple-lighten-4">
                    <v-btn
                      id="btnConfirm"
                      variant="flat"
                      color="success"
                      @click="confirmOrder"
                      class="px-10"
                      >Confirm</v-btn
                    >
                  </td>
                  <td>
                    <v-btn
                      id="btnPay"
                      variant="flat"
                      color="success"
                      :disabled="payDisabled"
                      @click="addReciept"
                      class="px-10"
                    >
                      Pay
                    </v-btn>
                  </td>
                  <td>
                    <v-btn
                      variant="flat"
                      class="px-10"
                      color="red"
                      @click="clearPayDiscount"
                      >Clear</v-btn
                    >
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-sheet>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<style scoped></style>
