<script lang="ts" setup>
import { useTableStore } from "@/stores/table";

const tableStore = useTableStore();

function confirmDialog() {
  tableStore.confirmClear();
}

function closeDialog() {
  tableStore.cancle();
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialog" persistent max-width="300">
      <v-card>
        <v-card-text class="text-h5"> Has it been cleaned? </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="closeDialog"> No </v-btn>
          <v-btn color="green darken-1" text @click="confirmDialog">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
