<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { useTableStore } from "@/stores/table";
import { useRoute } from "vue-router";
import DialogTableViewVue from "./DialogTableView.vue";
import type Order from "@/types/Order";
import { useOrderStore } from "@/stores/order";
import router from "@/router";

const route = useRoute();
const tableStore = useTableStore();
const orderID = route.params.id + "";
const orderStore = useOrderStore();
const tableNumber = ref();
const orderSelect = ref<Order>();

const getOrderSelect = async () => {
  return await orderStore.getOrderById(orderID);
};

getOrderSelect().then((order) => {
  orderSelect.value = order[0];
  tableNumber.value = orderSelect.value?.table_number;
  orderStore.orderIdSelected = route.params.id + "";
  console.log(orderSelect);
});

tableStore.showBtnQRCode = false;

const changeDialogStatus = () => {
  tableStore.oldTable = tableStore.selected.id!;
  console.log(tableStore.oldTable);
  if (tableStore.dialogTable == true) {
    tableStore.dialogTable = false;
  } else {
    tableStore.dialogTable = true;
  }
};

onMounted(async () => {
  await tableStore.getTables();
});

const goMenu = (id: string) => {
  router.push("/menu/" + id);
};

const goCashier = (id: string) => {
  router.push("/cashier/" + id);
};

watch(
  () => tableStore.selected.id,
  (numTable) => {
    tableNumber.value = numTable;
  }
);
</script>

<template>
  <v-card
    class="ma-auto px-2 py-1 mt-15 bg-deep-purple-lighten-4"
    width="70%"
    max-width="600"
    height="65%"
    max-height="900"
  >
    <v-row>
      <v-col>
        <v-card-title style="text-align: center; font-weight: bold">
          TABLE : {{ tableNumber }}</v-card-title
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col lg="6" xs="6" class="text-center">
        <v-sheet class="pa-2 ma-2">
          <v-img
            src="https://cdn.discordapp.com/attachments/857171334845169664/1082195891131252746/JADDJIB.png"
            max-width="300px"
            min-width="200px"
          ></v-img>
        </v-sheet>
      </v-col>
      <v-col lg="6" xs="6">
        <v-sheet class="pa-2 ma-2 bg-deep-purple-lighten-4">
          <v-card-actions class="justify-center">
            <v-btn
              variant="flat"
              color="green"
              class="px-4"
              style="width: 165px"
              @click="goMenu(orderID)"
              >Menu</v-btn
            >
          </v-card-actions>
          <v-card-actions class="justify-center">
            <v-btn
              variant="flat"
              color="red"
              class="px-4"
              style="width: 165px"
              @click="changeDialogStatus()"
              >move</v-btn
            >
          </v-card-actions>
          <v-card-actions class="justify-center">
            <v-btn
              variant="flat"
              color="red"
              class="px-4"
              style="width: 165px"
              @click="goCashier(orderID)"
              >checkbill</v-btn
            >
          </v-card-actions>
          <v-card-actions class="justify-center">
            <v-btn
              variant="flat"
              color="red"
              class="px-4"
              style="width: 165px"
              to="/table"
              >cancel</v-btn
            >
          </v-card-actions>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row>
      <v-card-title> QRCode Menu. </v-card-title>
    </v-row>
    <v-row>
      <v-card-subtitle> Scan QRCode to order by yourself. </v-card-subtitle>
    </v-row>
  </v-card>
  <v-dialog
    v-model="tableStore.dialogTable"
    persistent
    width="80%"
    max-width="800"
  >
    <DialogTableViewVue />
    <v-btn color="red" @click="changeDialogStatus()">Cancel</v-btn>
  </v-dialog>
</template>

<style scoped></style>
